
@{
    ViewBag.Title = "Eleccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color: #0349ab; font: bold 38px rockwell extra bold">Consulta de Tablas</h2>

<div class="col-lg-8">
    <div class="panel panel-default" id="panelEmpleados">
        <div class="panel-heading" style="color: deepskyblue; font: bold 22px rockwell extra bold">Tablas a consultar:</div>
        <hr style="width:17%;text-align:left;margin-left:0">
        <div class="panel-body">
            <div class="row">
                @*Campos de Textos y Registros*@
            </div>
        </div>

        <div id="tblEmpleados" class="table">

            <a href="https://localhost:44304/Home/Consultar_Clientes" <btn class="btn" style="background-color: #0349ab; font: bold 22px rockwell extra bold; color: lightgray">Clientes</btn> </a>                        <br /> <br />
            <a href="https://localhost:44304/Home/Consultar_Empleados" <btn class="btn" style="background-color: #0349ab; font: bold 22px rockwell extra bold; color: lightgray ">Empleados</btn> </a>                     <br /> <br />
            <a href="https://localhost:44304/Home/Consultar_Factura" <btn class="btn" style="background-color: #0349ab; font: bold 22px rockwell extra bold; color: lightgray ">Facturas</btn> </a>                        <br /> <br />
            <a href="https://localhost:44304/Home/Consultar_Farmaceutico" <btn class="btn" style="background-color: #0349ab; font: bold 22px rockwell extra bold; color: lightgray ">Farmaceutico</btn> </a>              <br /> <br />
            <a href="https://localhost:44304/Home/Consultar_Farmacia" <btn class="btn" style="background-color: #0349ab; font: bold 22px rockwell extra bold; color: lightgray ">Farmacia</btn> </a>                      <br /> <br />
            <a href="https://localhost:44304/Home/Consultar_Tipo_Farmaceutico" <btn class="btn" style="background-color: #0349ab; font: bold 22px rockwell extra bold; color: lightgray ">Tipo de Farmaceutico</btn></a>   <br /> <br />
            <a href="https://localhost:44304/Home/Consultar_User" <btn class="btn" style="background-color: #0349ab; font: bold 22px rockwell extra bold; color: lightgray ">Usuarios</btn></a>   <br /> <br />


        </div>


    </div>
</div>
