@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <a style="text-align: center"><img src="https://i.imgur.com/ygehUcU.png" title="source: imgur.com" /></a>
        <p class="lead"></p>
        <p style="text-align: center"><a href="https://localhost:44304/Seguridad/Register" class="btn btn-primary btn-md" type="button" style="background-color: #0349ab; border-color: #0349ab">¡Crea tu cuenta aqui! &raquo;</a></p>
        <p class="lead"></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle" style="color: #0349ab; font: bold 38px rockwell extra bold">Sucursales</h2>
            <p>
                Tenemos sucursales a lo largo de todo Santo Domingo y el Distrito Nacional, todas localizadas en áreas populares y fáciles de alcanzar. Presione aquí para aprender sobre sus ubicaciones y horarios.
            </p>
            <p><a class="btn btn-outline-dark" style="background-color: #0349ab; border-color: #0349ab; color: white" href="https://localhost:44304/Clientes/Sucursales">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle" style="color: #0349ab; font: bold 38px rockwell extra bold">Sobre nosotros</h2>
            <p>Somos una franquicia farmacéutica dedicada completamente a brindarle el mejor servicio posibles a los mejores precios. Presione aquí para saber cómo lo logramos.</p>
            <p><a class="btn btn-outline-dark" style="background-color: #0349ab; border-color: #0349ab; color: white" href="https://localhost:44304/Clientes/About">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle" style="color: #0349ab; font: bold 38px rockwell extra bold">Contactenos</h2>
            <p>Presione aquí para obtener más información sobre cómo contactar a nuestras sucursales y oficinas.</p>
            <p><a class="btn btn-outline-dark" style="background-color: #0349ab; border-color: #0349ab; color: white" href="https://localhost:44304/Clientes/Contact">Learn more &raquo;</a></p>
        </section>
    </div>
</main>