@{
    ViewBag.Title = "Sobre Nosotros - Farmacia Helse";
    Layout = "~/Views/Shared/_Layout0.cshtml";
    ViewData["About"] = "Sobre Nosotros";
}

<style>
    body {
        font-family: Arial, sans-serif;
        color: #333;
    }

    .about-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    h1 {
        text-align: center;
        color: #007bff;
        margin-bottom: 30px;
    }

    h2 {
        color: #007bff;
        margin-top: 20px;
    }

    p {
        line-height: 1.6;
    }

    ul {
        list-style: disc;
        margin-left: 30px;
        line-height: 1.6;
    }



    .contact-info {
        background-color: #f0f3f5;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
    }
</style>

<div class="about-container">

    <h1 style="color: #0349ab; font: bold 38px rockwell extra bold">Sobre Nosotros - Farmacia Helse</h1>
    <p>
        En Farmacia Helse, nos dedicamos a brindar servicios de salud y bienestar a la comunidad.
        Nuestro equipo de profesionales altamente capacitados está comprometido en ofrecer la mejor atención y cuidado a nuestros clientes.
    </p>

    <h2 style="color: #0349ab; font: bold 28px rockwell extra bold">Nuestra Misión</h2>
    <p>
        Nuestra misión es mejorar la calidad de vida de nuestros clientes al proporcionarles acceso a medicamentos y productos de calidad,
        así como asesoramiento para su bienestar y salud general.
    </p>

    <h2 style="color: #0349ab; font: bold 28px rockwell extra bold">Nuestra Visión</h2>
    <p>
        Queremos ser reconocidos como líderes en el cuidado de la salud en la comunidad, brindando un servicio excepcional y
        estableciendo relaciones de confianza con nuestros clientes y proveedores.
    </p>

    <h2 style="color: #0349ab; font: bold 28px rockwell extra bold">Nuestros Valores</h2>
    <ul>
        <li>Compromiso con la excelencia en el servicio al cliente.</li>
        <li>Integridad y ética en todas nuestras operaciones.</li>
        <li>Respeto y empatía hacia nuestros clientes y colegas.</li>
        <li>Innovación y mejora continua en nuestros servicios.</li>
        <li>Responsabilidad social y contribución a la comunidad.</li>
    </ul>

    <h2 style="color: #0349ab; font: bold 28px rockwell extra bold">Nuestro Equipo</h2>
    <p>
        En Farmacia MiSalud, contamos con un equipo de farmacéuticos, técnicos y personal de apoyo altamente calificados y comprometidos
        en proporcionar un servicio excepcional y cuidado personalizado a cada cliente que nos visita.
    </p>

    <div>
        <h2 style="color: #0349ab; font: bold 28px rockwell extra bold">Contacto</h2>
        <p>
            Si tienes alguna pregunta o consulta, no dudes en ponerte en contacto con nosotros.
            Puedes visitar nuestra farmacia o comunicarte con nuestro equipo a través de los siguientes medios de contacto:
        </p>

        <ul>
            <li>Teléfono: (xxx) xxx-xxxx</li>
            <li>Email: info@farmaciahelse.com</li>
            <li>Ubicación Principal: Av. Principal #xxx, Ciudad (xxx), País (xxx)</li>
        </ul>
    </div>
</div>
